{% extends 'home.html' %}

{% block content %}

<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Bookings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashfeedback' %}">Feedbacks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashenquiry' %}">Enquiry</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashpackage' %}" >Packages</a>
    </li>
  </ul>

  {% block dash %}
  <div class="container text-center mt-5 pt-5 ">
    <h3 class="my-3">Bookings...</h3>
    <table class="table shadow-lg py-3 px-2">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Package</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
            {% for i in books %}
          <tr>
            <td>{{i.name}}</td>
            <td>{{i.date}}</td>
            <td>{{i.package}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phone}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
  {% endblock %}
{% endblock %}
